<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">

 <body th:style="'background-image:url(' + @{/imagens/ingrediente/ingredientes.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
   </body>
    
<div layout:fragment="content">

	<div class="alert alert-danger" th:if="${#lists.isEmpty(lista)}">
		Nenhum ingrediente cadastrado</div>
	<div class="alert alert-success" th:if="${mensagem != null}"
		th:text="${mensagem}"></div>
	<div th:if="${not #lists.isEmpty(lista)}">
		<div>
			<table class="table table-success table-responsive">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th sec:authorize="hasRole('PG_INGREDIENTE_EDITAR')">Opções</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="ingrediente : ${lista}">
						<td th:text="${ingrediente.id}"></td>
						<td th:text="${ingrediente.nome}" width="70%"></td>
						<!-- ISSO É PRA TER UM BOTÃO -->
						<td sec:authorize="hasRole('PG_INGREDIENTE_EDITAR')"><a
							class="btn btn-dark btn-sm"
							th:href="@{/ingrediente/editar(id=${ingrediente.id})}">Editar</a>
							<a class="btn btn-dark btn-sm"
							th:href="@{/ingrediente/excluir(id=${ingrediente.id})}"
							onclick="return confirm('Você realmente deseja excluir esse ingrediente?')">Excluir</a></td>
						<!-- TENTAR FAZER ISSO COM O BOOTSTRAP -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>